@charset "UTF-8";
.fontBold {
  font-weight: bold; }

.fontWhite {
  color: #fff; }

.fontRed {
  color: #ff4500; }

.fontBlack {
  color: black; }

.bgAnnotation {
  background-color: rgba(255, 255, 255, 0.4); }

h6 {
  font-size: 14px;
  font-size: 1.4rem; }

h5 {
  font-size: 16px;
  font-size: 1.6rem; }

h4 {
  font-size: 18px;
  font-size: 1.8rem; }

h3 {
  font-size: 20px;
  font-size: 2rem; }

h2 {
  font-size: 22px;
  font-size: 2.2rem; }

h1 {
  font-size: 24px;
  font-size: 2.4rem; }

p {
  font-size: 16px;
  font-size: 1.6rem; 
}

a {
  font-size: 16px;
  color: #353e94; }

td {
  font-size: 14px;
  font-size: 1.4rem; }

  .mt-1{margin-top:20px;}.mt-2{margin-top:40px;}.mt-3{margin-top:60px;}.mt-4{margin-top:80px;}.mt-5{margin-top:100px;}.mt-6{margin-top:120px;}.mt-7{margin-top:140px;}.mt-8{margin-top:160px;}.mt-9{margin-top:180px;}.mt-10{margin-top:200px;}
  .mb-1{margin-bottom:20px;}.mb-2{margin-bottom:40px;}.mb-3{margin-bottom:60px;}.mb-4{margin-bottom:80px;}.mb-5{margin-bottom:100px;}.mb-6{margin-bottom:120px;}.mb-7{margin-bottom:140px;}.mb-8{margin-bottom:160px;}.mb-9{margin-bottom:180px;}.mb-10{margin-bottom:200px;}
  .ml-1{margin-left:20px;}.ml-2{margin-left:40px;}.ml-3{margin-left:60px;}.ml-4{margin-left:80px;}.ml-5{margin-left:100px;}.ml-6{margin-left:120px;}.ml-7{margin-left:140px;}.ml-8{margin-left:160px;}.ml-9{margin-left:180px;}.ml-10{margin-left:200px;}
  .mr-1{margin-right:20px;}.mr-2{margin-right:40px;}.mr-3{margin-right:60px;}.mr-4{margin-right:80px;}.mr-5{margin-right:100px;}.mr-6{margin-right:120px;}.mr-7{margin-right:140px;}.mr-8{margin-right:160px;}.mr-9{margin-right:180px;}.mr-10{margin-right:200px;}

/*body {
  font-family: "游ゴシック", "メイリオ", "Verdana", "MS Pゴシック", "sans-serif", "Times New Roman";
  font-size: 16px;
  background: #fff; }*/
body{
    /*font-size: 16px;*/
    font-family:Hiragino Kaku Gothic ProN, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:400;
    line-height:1.5;
    color:#000;
    text-align:left;
    background-color:#fff;
    margin-top: 30px;
    margin-left: 10px;
}

#wrapper_organelles .buttons {
  margin: 0 0 10px 0; }
  #wrapper_organelles .buttons button {
    margin: 0 10px 0 0; }

#wrapper_staining {
  position: relative; 
  margin: 5px 0;
  }
  #wrapper_staining #staining_button {
    margin-top: 10px; }
  #wrapper_staining form {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 2;
    min-width: 200px;
    height: 300px;
    overflow: scroll;
    scroll-behavior: auto;
    border: solid 1px black;
    background-color: white; }
    #wrapper_staining form ul {
      padding: 0; }
      #wrapper_staining form ul li {
        list-style-type: none;
        padding: 5px 10px; }
        #wrapper_staining form ul li input {
          margin-right: 5px; }
    #wrapper_staining form #compareStaining {
      position: absolute;
      z-index: 3;
      top: 10px;
      right: 10px; }
    

@keyframes toggle {
  0% {
    height: 0; }
  100% {
    height: 300px; } }


/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
/*  top: 50%;
  left: 50%;*/
  width: 700px;
  height: 480px;
  transform:translate(-50%,-50%);
  max-width: 800px;
  padding: 10px 30px;
  background-color: #fff;
  overflow: scroll;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

#openModal {
  cursor : pointer;
}

.box1 {
    width:750px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: indigo solid 1px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    margin-left: 30px;
    padding-left: 0px;
    background-color: rgba(0,0,0,0.03);
    font-size: 16px;
    font-size: 1.6rem; 
}
.box2 {
    width:750px;
    border: indigo solid 1px;
    border-top: none;
    margin-left: 30px;
    padding-left: 20px;
    padding-bottom:20px;
    font-size: 16px;
    font-size: 1.6rem; 
}
    .my-contextmenu {
        display: none;
        position: fixed;
        width: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        z-index: 3;
        margin: 0px;
        padding: 0px;
    }

    .my-contextmenu.show {
        display: block;
    }

    .my-contextmenu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .my-contextmenu hr {
        margin: 0px 3px;
        border: 1px solid #eee;
        width: 150px;
    }

    .my-contextmenu ul li {
        font-size: 14px;
        color: #333;
    }

    li:hover {
        background-color: #eee;
    }

    button.menu {
        width: 120px; /*ボタンの長さ*/
        font-size: 13px; /*文字の大きさ*/
        font-weight: bold; /*文字の装飾（太字）*/
        background-color: #EEEEEE; /*ボタンの色*/
        border-radius: 3px; /*角の丸み*/
        border-width: 1px; /*腺の太さ*/
        margin-bottom: 7px; /*ボタン間の距離*/
    }

    button.menu:hover {
        background-color: #DDDDDD;
    }

    button#Glycan_search, button#Glycan_search_clone {
        background-color: orange; /*ボタンの色*/
    }

    button#Glycan_search:hover {
        background-color: #FF8C00;
    }

    button#Glycan_search_clone:hover {
        background-color: #FF8C00;
    }

    table#Glycan_table, table#Glycan_table_clone {
        display: block;
        margin-left: 15px;
    }

    tr#Glycan_tr, tr#Glycan_tr_clone {
        display: inline;
    }

    tr#Glycan_tr:hover {
        cursor: pointer;
    }

    tr#Glycan_tr_clone:hover {
        cursor: pointer;
    }

    table#list_table > tbody > tr:nth-child(2n+1) {
        background-color: #EAEAEA;
    }

    table#list_table > tbody > tr:hover {
        cursor: pointer;
        background-color: #DFE7FE;
    }

    td#Glycan_td, td#Glycan_td_clone {
        display: inline-block;
    }

    table#Detailed_table, table#Detailed_table_clone {
        display: block;
    }

    table#Detailed_table > tbody > tr > td {
        width: 560px;
        height: auto;
        margin-bottom: 10px;
        border: 3px solid #EEEEEE;
        position: relative;
    }

    table#Detailed_table_clone > tbody > tr > td {
        width: 360px;
        height: auto;
        margin-bottom: 10px;
        border: 3px solid #EEEEEE;
        position: relative;
    }

    table#Detailed_table > tbody > tr > td:hover {
        border-color: rgba(255, 0, 255, 0.3);
    }

    table#Detailed_table_clone > tbody > tr > td:hover {
        border-color: rgba(255, 0, 255, 0.3);
    }

    span.detailed_cross, span.detailed_cross_clone {
        font-size: 20px;
        color: #555555;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        position: absolute;
        top: -5px;
        right: 5px;
        text-shadow: 0px 0px 3px #555555;
    }

    .overlay {
        /* viewpointを相対位置にし、全画面表示にする */
        width: 100%;
        height: 130%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5); /* 背景を半透明にする */
        display: none; /* HTML要素を非表示にする */
        z-index: 1; /* 「メインのHTML要素」よりもスタックレベルを高くする */
    }

    .PV_overlay {
        /* viewpointを相対位置にし、全画面表示にする */
        width: 100%;
        height: 130%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5); /* 背景を半透明にする */
        display: none; /* HTML要素を非表示にする */
        z-index: 2; /* 「メインのHTML要素」よりもスタックレベルを高くする */
    }

    #Data_source_window_text, #Glycan_search_window_text, #Profile_input_window_text, #Glycan_search_clone_window_text {
        width: 640px;
        height: 450px;
        position: fixed; /* viewpointを相対位置にする */
        border: 1px solid #000000;
        background-color: #FFF;
        display: none;
        z-index: 2; /* 「オーバーレイのHTML要素」よりもスタックレベルを高くする */
    }

    #not_have_number {
        width: 380px;
        height: 110px;
        position: fixed; /* viewpointを相対位置にする */
        border: 1px solid #000000;
        background-color: #FFF;
        display: none;
        z-index: 2;
    }

    table#source > tbody > tr {
        font-size: 12px;
        line-height: 0.9;
    }

    a:visited {
        color: #0044CC;
    }

    span.cross:hover {
        outline: 1px solid #000000;
        background-color: #DDDDDD;
        cursor: pointer;
    }

    span.PV_cross:hover {
        outline: 1px solid #000000;
        background-color: #DDDDDD;
        cursor: pointer;
    }

    span.PV_Glycan_Search_cross:hover {
        outline: 1px solid #000000;
        background-color: #DDDDDD;
        cursor: pointer;
    }

    button.close, button#LC_draw, button.PV_close, button#LC_draw_clone {
        width: 70px;
        height: 20px;
        font-size: 70%;
        background-color: #EEEEEE;
        border-radius: 3px;
        border: thin solid #000000;
    }

    button.close:hover {
        background-color: #DDDDDD;
    }

    button#LC_draw:hover {
        background-color: #DDDDDD;
    }

    button#LC_draw_clone:hover {
        background-color: #DDDDDD;
    }

    button.PV_close:hover {
        background-color: #DDDDDD;
    }

    button.input, #click_profile_button, #click_input_LC_button_clone {
        width: 70px;
        height: 20px;
        font-size: 70%;
        background-color: orange;
        border-radius: 3px;
        border: thin solid #000000;
    }

    button.input:hover {
        background-color: #FF8C00;
    }

    #click_profile_button:hover {
        background-color: #FF8C00;
    }

    #click_input_LC_button_clone:hover {
        background-color: #FF8C00;
    }

    button.input:disabled {
        background-color: rgba(255, 165, 0, 0.5);
    }

    #click_profile_button:disabled {
        background-color: rgba(255, 165, 0, 0.5);
    }

    #click_input_LC_button_clone:disabled {
        background-color: rgba(255, 165, 0, 0.5);
    }


    #alert {
        position: absolute;
        border: solid 2px #000000;
        border-radius: 10px;
        background: #FFFFFF;
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

    table#profile_table > thead, table#profile_table > tbody, table#list_table_clone > thead, table#list_table_clone > tbody {
        display: block;
    }

    table#profile_table > tbody {
        overflow-y: hidden;
        height: 260px;
    }

    table#list_table_clone > tbody {
        overflow-y: auto;
        height: 300px;
    }

    table#profile_table > thead > tr > th, table#profile_table > tbody > tr > td {
        font-size: 8px;
        width: 115px;
        white-space: nowrap;
    }

    table#list_table_clone > thead > tr > th, table#list_table_clone > tbody > tr > td {
        box-sizing: border-box;
        font-size: 12px;
        width: calc(359px / 3);
        white-space: nowrap;
    }

    table#list_table_clone > tbody > tr > td {
        padding-left: 5px;
    }

    table#profile_table > tbody > tr:nth-child(2n+1), table#list_table_clone > tbody > tr:nth-child(2n+1) {
        background-color: #EEEEEE;
    }

    table#list_table_clone > tbody > tr:hover {
        cursor: pointer;
        background-color: #DFE7FE;
    }

    #Profile_Viewer_window_text {
        width: 95%;
        height: 95%;
        position: fixed; /* viewpointを相対位置にする */
        border: 3px solid #AAAAAA;
        background-color: #FFF;
        display: none;
        z-index: 2; /* 「オーバーレイのHTML要素」よりもスタックレベルを高くする */
        border-radius: 20px;
        min-width: 200px;
    }

    #button_group > button, #button_group_clone > button {
        margin-right: 5px;
    }

    .Graph {
        transition-duration: 500ms;
    }

    .Graph:hover {
        cursor: pointer;
        fill: rgb(255, 0, 0);
        transition-duration: 500ms;
    }


    svg > #scale > text {
        font-size: 10px;
        font-weight: bold;
        text-anchor: middle;
        color: #333333;
    }
.space{
    margin-left: 20px;
}

  td.ex_border_a {
        border-bottom: 2px solid black;
        font-weight:bold;
    }
    td.ex_border_none {
        border: 0px;
    }
    table.ex_table {
      border-collapse: collapse;
      border: 0;
    }
    table.ex_table td {
      border: 1px solid #222;
    }
    * {
      box-sizing: border-box;
    }


tr.list_tr{
  height: 24px;
}
.list_rdf{
    margin-left: 30px;
}
.list_rdf th{
    text-align: center;
    background: #FFCC00;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    padding: 4px 0px;
}
.list_rdf tr:nth-child(odd){
    background-color: #eee
}
.list_rdf td{
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px 0;
}
.list_rdf{
    display: block;
}
.list_rdf{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
}
.list_rdf > tr:hover{
    cursor: pointer;
    background-color: #DFE7FE;
}
.selectimage{
    margin-top: 50px;
    padding-bottom: 100px;
}
.tissueimage{
    margin-left: 50px;
}
.borderbox{
    border: 1px solid;
}
.heanotationimage{
    vertical-align:top;
}