<script src="../js/openseadragon.js"></script>
<!-- 画像ビューアを表示させるDIV -->
<div id="contentDiv"></div>
<title></title>
<script type="text/javascript">
    function getUrlQueries() {
      var queryStr = window.location.search.slice(1);  // 文頭?を除外
          queries = {};

      // クエリがない場合は空のオブジェクトを返す
      if (!queryStr) {
        return queries;
      }

      // クエリ文字列を & で分割して処理
      queryStr.split('&').forEach(function(queryStr) {
        // = で分割してkey,valueをオブジェクトに格納
        var queryArr = queryStr.split('=');
        queries[queryArr[0]] = queryArr[1];
      });

      return queries;
    }
    query = getUrlQueries()
    console.log(query)
    // Example
    OpenSeadragon({
        id:              "contentDiv",
        prefixUrl:       "../data/images/png/",
        tileSources:     "../data/images/"+query['tissue_name']+"/dzi/"+query["mz"]+"..dzi"
    });
</script>